*{
    display:block;
    box-sizing:border-box;
}
body{
    background-image: url("../images/skyfight.png");
    background-size:cover;
}
.header{
    float:right;
}
title{
    display:none;
}
.yoda, .r2d2, .vader, .trooper{
    border: 3px solid green;
    padding:10px;
    margin:5px;
    text-align: center;
    display:inline-block;
    background-color:white;
    margin: 0 auto;
}
 #vaderimg, #trooperimg{
    background-color:green;
    padding:5px;
}
 .section{ 
    font-weight:bold;
    font-size:25px;
    
}
.vanquished{
display:none;
}
#attack{
    margin: 0 auto;
    padding: 5px 5px 15px 5px;
    width: 100px;
    height:40px;
    font-size: 30px;
    border:3px solid black;
    background-color:white;
    color: darkred;
}
.defender{
    margin:0 auto;
  
}
.attacker{
    margin:0 auto;
    border: 3px solid green;
}
#restart{
    display:none;
}